<% if report.error %>
<div class="alert-message block-message warning">
  <p><%= report.error %></p>
  <% if report.error.to_s != "No data" %>
    <p><%= report.error.backtrace %></p>
  <% end %>
</div>
<% else %>
<table class="zebra-striped bordered-table condensed-table sorted">
  <thead>
    <tr>
      <% report.fields.each do |f| %>
      <th><span class="<%= f.span_class %>"><%= f.title %></span></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% report.each_row do |row| %>
    <tr>
      <!-- <%= row %> -->
      <% row.each do |val| %>
      <td><span class="<%= val[1].span_class %>"><%= (val[1].value_type == 'number' && ! val[0].nil?) ? sprintf("%0.2f", val[0]) : val[0] %></span></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
